/* Fuentes */
@import url('http://fonts.googleapis.com/css?family=Oxygen');
@import url('http://fonts.googleapis.com/css?family=Pontano+Sans');

/* Formatos generales */
*{padding:0; margin:0;}
ul{margin: 0; padding: 0;}
ul li{list-style: none;}
a{text-decoration: none;}
h1{color: #284ba9; font-size: 23px; padding: 0 10px;}
h2{color: #091647; font-size: 16px; font-family: arial; padding: 0 10px;}
h4, h5{text-align: left;}
p{text-align: justify;}
span{color: #7b7a7a; font-size: 15px; font-family:arial;}

.container img{max-width: 100%;}
.clr{clear: both;}

/* Header */
.boxHeader{width: 100%; background: #07113f; padding-top: 15px;}
.phoneNumber{color:#fff; text-align: right;}
.phoneNumber span{display: block; font-size: 20px; font-weight: bold;}
.phoneNumber small{font-size: 14px; color: #f6de0f;}

header nav{margin-top: 15px; background: linear-gradient(#fdfdfe, #e0e2e6); position: relative;}
ul li{float: left; padding: 10px 0; border-right: 1px solid #ccc; transition: all 0.3s linear;}
ul li a{color: #091647; font-size: 20px; font-weight: bold; padding: 10px; transition: all 0.3s linear;}

ul li:hover{background: linear-gradient(#f3d20e, #ebb303); }
ul li:hover > a{color: #fff;}

.face, .twit{position: absolute;}
.face{top:4px; right: 50px;}
.twit{top:4px; right: 5px;}

.current-li{background: linear-gradient(#f3d20e, #ebb303);}
.current-a{color: #fff;}

/*footer*/
.boxfooter{width: 100%; background: #07113f; padding-top: 15px;}
.navfooter{
    font-family: arial; 
    font-size: 15px; 
    padding: 10px;
}
.boxfooter li {display: inline-block; color: #5fb6fc;}
.boxfooter li a{margin: 0 10px;}
.navpoliticas li{display: inline-block; color: #eca804;}
.navpoliticas li a{margin: 0 10px;}

/*HOME*/
.boxhome{margin-top: 15px; background: linear-gradient(#fefefe, #f4f4f5); }
.leermashome{background: linear-gradient(#f2cf0d,#ecb604); padding: 15px; }
/*QUIENES SOMOS*/
.menuquienessomos ul li{color: #fff;}
